.carousel{
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
    text-align: center;
    height: 180px;
    background-image: url("./banner.png"); 
    object-fit: contain;
    opacity: 0.9;
}

.title{
    margin: 0;
    padding: 0;
}

.catchyPhrase{
    text-shadow: 1px 0px #999999;
}