
.papaContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.container{
background-color: rgba(255, 192, 203, 0.3);
width: 85%;
padding: 30px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container label{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 18px;
}

.container input{
    background-color: rgba(255, 192, 203, 0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px gray solid;
    margin-bottom: 10px;
}

.message textarea{
    margin:0px;
    width: 100%;
    height: 120px;
}

.disable{
    display: none;
}

.span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.span > input{
    border: solid 1px brown;
}
