.footerColor{
    background-color: #323232;
    color: white;
    height: 65px;
    
}
@media only screen and (max-width: 600px) {
    .ul{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type:none;
        background-color: #323232;
        padding:0!important;
        
    }
  }
  .ul li{
      margin-top: 15px;
      margin-bottom: 2px;
  }
  .ul{
    display: flex;
    justify-content: space-around;
    list-style-type:none;
    padding:0!important;
}
